## Problem #1

- FY is the number of yellow triangles
- FW is the number of white triangles
- FT is the total number of yellow and white triangles

In [16]:
import pandas as pd

In [18]:
result = pd.DataFrame([[1, 1, 0, 1]], columns=["Step", "Yellow", "White", "Total"])

FY_previous = 1
FW_previous = 0

for index in range(2, 9):
    FY_current = FY_previous * 3
    FW_current = FY_previous + FW_previous
    FT_current = FY_current + FW_current
    FY_previous = FY_current
    FW_previous = FW_current
    FT_previous = FT_current

    result = pd.concat(
        [
            result,
            pd.DataFrame(
                [[index, FY_current, FW_current, FT_current]],
                columns=["Step", "Yellow", "White", "Total"],
            ),
        ],
        ignore_index=True,
    )

result.style.hide(axis="index")

## Problem #2

Ten numbers. Ten numbers from 1 to 10 are written in a row. We can insert plus or minus signs between these numbers. After all of the signs have been placed, and all additions and subtractions are performed, we evaluate the result. Can we get 22? And 21? And 25? If it is possible, show how (give an example). If it is not, explain why.

### Solution

Lets encode pluses as 1 and minuses as 0.
We can encode the combination 1+2+3+4+5+6+7+8+9-10 as "1111111110" (10 digits, 9 pluses, 1 minus).

In [38]:
import itertools

base_string = '01'
combinations = [''.join(p) for p in itertools.product(base_string, repeat=10)]

for i in range(0, 10):
    print(f"{combinations[i]=}")

combinations[i]='0000000000'
combinations[i]='0000000001'
combinations[i]='0000000010'
combinations[i]='0000000011'
combinations[i]='0000000100'
combinations[i]='0000000101'
combinations[i]='0000000110'
combinations[i]='0000000111'
combinations[i]='0000001000'
combinations[i]='0000001001'

In [59]:
results = {}

for a_combination in combinations[-4:]:
    print(f"{a_combination=}")
    tmp_result = 0
    for idx, num in enumerate(a_combination):
        if num == '1':
            tmp_result = tmp_result + idx + 1
        else:
            tmp_result = tmp_result - idx - 1

        print(f"{num=} {idx=} {tmp_result=}")

    if results.get(tmp_result):
        results[tmp_result].append(a_combination)
    else:
        results[tmp_result] = [a_combination]

    print(f"{tmp_result}: {results[tmp_result]=}")

a_combination='1111111100'
num='1' idx=0 tmp_result=1
num='1' idx=1 tmp_result=3
num='1' idx=2 tmp_result=6
num='1' idx=3 tmp_result=10
num='1' idx=4 tmp_result=15
num='1' idx=5 tmp_result=21
num='1' idx=6 tmp_result=28
num='1' idx=7 tmp_result=36
num='0' idx=8 tmp_result=27
num='0' idx=9 tmp_result=17
17: results[tmp_result]=['1111111100']
a_combination='1111111101'
num='1' idx=0 tmp_result=1
num='1' idx=1 tmp_result=3
num='1' idx=2 tmp_result=6
num='1' idx=3 tmp_result=10
num='1' idx=4 tmp_result=15
num='1' idx=5 tmp_result=21
num='1' idx=6 tmp_result=28
num='1' idx=7 tmp_result=36
num='0' idx=8 tmp_result=27
num='1' idx=9 tmp_result=37
37: results[tmp_result]=['1111111101']
a_combination='1111111110'
num='1' idx=0 tmp_result=1
num='1' idx=1 tmp_result=3
num='1' idx=2 tmp_result=6
num='1' idx=3 tmp_result=10
num='1' idx=4 tmp_result=15
num='1' idx=5 tmp_result=21
num='1' idx=6 tmp_result=28
num='1' idx=7 tmp_result=36
num='1' idx=8 tmp_result=45
num='0' idx=9 tmp_result=35
35: results[tmp_result]=['1111111110']
a_combination='1111111111'
num='1' idx=0 tmp_result=1
num='1' idx=1 tmp_result=3
num='1' idx=2 tmp_result=6
num='1' idx=3 tmp_result=10
num='1' idx=4 tmp_result=15
num='1' idx=5 tmp_result=21
num='1' idx=6 tmp_result=28
num='1' idx=7 tmp_result=36
num='1' idx=8 tmp_result=45
num='1' idx=9 tmp_result=55
55: results[tmp_result]=['1111111111']

In [62]:
results = {}

for a_combination in combinations:
    tmp_result = 0
    for idx, num in enumerate(a_combination):
        if num == '1':
            tmp_result = tmp_result + idx + 1
        else:
            tmp_result = tmp_result - idx - 1

    if results.get(tmp_result):
        results[tmp_result].append(a_combination)
    else:
        results[tmp_result] = [a_combination]

In [67]:
for solution, a_combination in enumerate(results[21]):
    tmp = []
    for idx, num in enumerate(a_combination):
        if num == '1':
            tmp.append(f"+{idx+1}")
        else:
            tmp.append(f"-{idx+1}")
    print(f"{solution+1}: {''.join(tmp)} = 21")

1: -1-2-3-4+5+6-7+8+9+10 = 21
2: -1-2-3+4-5-6+7+8+9+10 = 21
3: -1-2+3-4+5+6+7+8+9-10 = 21
4: -1-2+3+4-5+6+7+8-9+10 = 21
5: -1-2+3+4+5-6+7-8+9+10 = 21
6: -1+2-3-4+5+6+7+8-9+10 = 21
7: -1+2-3+4-5+6+7-8+9+10 = 21
8: -1+2-3+4+5-6-7+8+9+10 = 21
9: -1+2+3-4-5+6-7+8+9+10 = 21
10: -1+2+3+4+5-6+7+8+9-10 = 21
11: -1+2+3+4+5+6-7+8-9+10 = 21
12: +1-2-3-4+5+6+7-8+9+10 = 21
13: +1-2-3+4-5+6-7+8+9+10 = 21
14: +1-2+3-4-5-6+7+8+9+10 = 21
15: +1-2+3+4-5+6+7+8+9-10 = 21
16: +1-2+3+4+5-6+7+8-9+10 = 21
17: +1-2+3+4+5+6-7-8+9+10 = 21
18: +1+2-3-4+5+6+7+8+9-10 = 21
19: +1+2-3+4-5+6+7+8-9+10 = 21
20: +1+2-3+4+5-6+7-8+9+10 = 21
21: +1+2+3-4-5+6+7-8+9+10 = 21
22: +1+2+3-4+5-6-7+8+9+10 = 21
23: +1+2+3+4+5+6-7+8+9-10 = 21
24: +1+2+3+4+5+6+7-8-9+10 = 21

In [69]:
for solution, a_combination in enumerate(results[25]):
    tmp = []
    for idx, num in enumerate(a_combination):
        if num == '1':
            tmp.append(f"+{idx+1}")
        else:
            tmp.append(f"-{idx+1}")
    print(f"{solution+1}: {''.join(tmp)} = 25")

1: -1-2-3-4-5+6+7+8+9+10 = 25
2: -1-2-3+4+5+6+7+8-9+10 = 25
3: -1-2+3-4+5+6+7-8+9+10 = 25
4: -1-2+3+4-5+6-7+8+9+10 = 25
5: -1+2-3-4+5+6-7+8+9+10 = 25
6: -1+2-3+4-5-6+7+8+9+10 = 25
7: -1+2+3-4+5+6+7+8+9-10 = 25
8: -1+2+3+4-5+6+7+8-9+10 = 25
9: -1+2+3+4+5-6+7-8+9+10 = 25
10: +1-2-3-4+5-6+7+8+9+10 = 25
11: +1-2-3+4+5+6+7+8+9-10 = 25
12: +1-2+3-4+5+6+7+8-9+10 = 25
13: +1-2+3+4-5+6+7-8+9+10 = 25
14: +1-2+3+4+5-6-7+8+9+10 = 25
15: +1+2-3-4+5+6+7-8+9+10 = 25
16: +1+2-3+4-5+6-7+8+9+10 = 25
17: +1+2+3-4-5-6+7+8+9+10 = 25
18: +1+2+3+4-5+6+7+8+9-10 = 25
19: +1+2+3+4+5-6+7+8-9+10 = 25
20: +1+2+3+4+5+6-7-8+9+10 = 25

In [70]:
results[22] # <-- Means that it does not exist!

KeyError: 22